

#gallery{
  margin:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: max-content;
  max-height: 600px;
  gap: 10px;
  bottom: 0px;
  height: 190;
  overflow-y: auto;
}
#gallery::-webkit-scrollbar{
  display: none;
}


.pic img{
  width: 200px !important;
  height: auto !important;
  aspect-ratio: 3 / 4;
  
}