@media only screen and (max-width: 953px) {
    .main{
        background-image: none !important;
    }
  
    .main-heading{
    display: none;
  }
 
  .bio{
    max-width: 100%;
    display: flex;
    align-content: center;
  
  }
  .bio p{
    white-space: pre-line;
  }

}
.main{
    max-width: 100%;
    max-height: 100%;

    position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image:url("../data/images/tygr_uvod.jpg");
    
}


.main-heading{
color: whitesmoke;
font-family: fantasy;
font-style: oblique;
font-size: 3.125rem;
opacity:0.6;
line-height: 6.25rem;
text-align: center;
margin: 0;
top: 20%;
position: relative;
user-select: none;
}
.h2{
    text-align: center !important;
}
.bio{
    background: rgba(4, 4, 4, 0.7);
    box-sizing:content-box;
    color: aliceblue;
    width:37.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 6%;
    flex-direction: column;
    padding-bottom: 5%;
    box-shadow: inset 5px -47px 75px 26px black;
    
}
.bio p{
    padding-left: 10px;
    padding-right: 10px;
}
.artist{
    width: 7.5rem;
    height: 7.5rem;
    float: right;
}
.background{
    height:100%;
    width:100%;
}