#gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    max-height: 600px;
    gap: 20px;
    
}
.pic{
    width: 200px;
    height: 300px;
}

.pic img{
    width: 200px !important;
    height: auto !important;
    aspect-ratio: 3 / 4;
}