header>a>img{
    width: 50px;
}
header{
    display: flex;
    justify-content:space-between;
    margin-right: 50px;
    margin-left: 50px;
}
nav{
        margin-right: 5px;
}
#min{
    flex-basis: 10%;
}
main{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
#article{
    display: flex;
    flex-wrap: wrap;
}
form{
    flex-direction: column;
}